<div>
    <div ng-if="vm.post.news.type=='post'">
        <vk-type-post post="vm.post"></vk-type-post>
    </div>
    <div ng-if="vm.post.news.type=='photo'">

    </div>
    <div ng-if="vm.post.news.type=='photo_tag'">

    </div>
    <div ng-if="vm.post.news.type=='wall_photo'">

    </div>
    <div ng-if="vm.post.news.type=='friend'">

    </div>
    <div ng-if="vm.post.news.type=='note'">

    </div>
    <div ng-if="vm.post.news.type=='audio'">

    </div>
    <div ng-if="vm.post.news.type=='video'">

    </div>
</div>