<div>
    <div ng-if="vm.showAll">
        <p ng-bind-html="vm.post.news.text">
        </p>
    </div>
    <div ng-if="!vm.showAll">
        <p ng-bind-html="vm.text">
        </p>
        <md-card-actions layout="row" layout-align="start end">
            <md-button ng-click="vm.showAllText()" class="text-show-all">Show all</md-button>
        </md-card-actions>
    </div>

    <div ng-if="vm.post.news.attachment">
        <vk-attachment attachment="vm.post.news.attachment"></vk-attachment>
    </div>
    <!--<div ng-if="vm.post.news.attachments.length">-->
        <!--<vk-attachments attachments="vm.post.news.attachments"></vk-attachments>-->
    <!--</div>-->
    <md-card-actions layout="row" layout-align="start center">
        <md-button class="md-icon-button custom-favorite-button" aria-label="Favorite">
            <div>
                <span>
                    {{vm.post.news.likes.count}}
                </span>
                <i class="material-icons custom-favorite-icon">&#xE87D;</i>
            </div>
        </md-button>
        <md-button class="md-icon-button custom-favorite-button" aria-label="Settings">
            <div>
                <span>
                    {{vm.post.news.comments.count}}
                </span>
                <i class="material-icons custom-favorite-icon">&#xE0B9;</i>
            </div>
        </md-button>
        <md-button class="md-icon-button custom-favorite-button" aria-label="Settings">
            <div>
                <span>
                    {{vm.post.news.reposts.count}}
                </span>
                <i class="material-icons custom-favorite-icon">&#xE0E2;</i>
            </div>
        </md-button>
        <md-button class="md-icon-button custom-favorite-button" aria-label="Settings">
            <i class="material-icons custom-favorite-icon">&#xE890;</i>
        </md-button>
        <!-- <md-button class="md-icon-button" aria-label="Share">
             <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
         </md-button>-->
    </md-card-actions>
</div>